<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <h1>Iniciando com VueJS</h1>

      <div id="container">
        <label for="">Digite seu nome</label>
        <input v-model="nome" type="text" :placeholder="placeHolderNome" />

        <label for="">Digite sua idade</label>
        <input v-model="idade" type="text" :placeholder="placeholderIdade" />
      </div>

      <p v-show="nome && idade">
        Olá, meu nome é {{ nome }}, e tenho {{ idade }} anos! Bem Vindo(a) ao
        mundo VueJS!
      </p>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            nome: null,
            idade: null,
            placeHolderNome: "Digite seu nome",
            placeholderIdade: "Digite sua idade",
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
