* {
  background-color: aqua;
  color: black;
  font: normal 20px arial;
}

#area {
  background-color: brown;
  font: arial;
  font-size: 20px;
  color: azure;
  width: 200px;
  height: 200px;
  text-align: center;
}
